*{margin: 0; padding: 0;}

.clear::after{content:"";
    clear: both;
    display: block;
}
.아빠{
    width: 1000px;
    background-color: rgb(174, 252, 255);
    padding: 20px;
    border: 1px solid black;
    margin: 30px auto;
}

.일수>div{
    width: 32%;
    margin-right: 2%;
    height: 150px;
    background-color: rgb(255, 184, 255);
    text-align: center;
    line-height: 150;
    float: left;
}

.일수>div:last-child{
    margin-right: 0;
}

.일수 .자식1{
    position: relative;
    /* 기준이 되는 포지션 : relative, absolute, fixed */
    background-image:url(https://img.megabox.co.kr/SharedImg/2023/02/09/2Jer6dQmO6PFz3n1XiRRqgGvfXUQGaDH_1100.jpg);
    background-size: cover;
}

.일수 .자식1 .cover{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; height: 100%;
    background-color: navajowhite;
    opacity: 0;
    transition: 0.3s;
}

.일수 .자식1:hover .cover{
    opacity: 1;
}

.일수 .자식2{
    position: relative;
    background-image: url(https://img.megabox.co.kr/SharedImg/2023/02/09/w4UY9kVjKnWWwUN9DbjshVKDFN5awMK2_1100.jpg);
    background-size: cover;
    overflow: hidden;
}
.일수 .자식2 .cover{
    transition: 0.3s;
    position: absolute;
    left: 50%; bottom: -50%;
    transform: translateX(-50%);
    width: 100%; height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.일수 .자식2:hover .cover{
    bottom: 0;

}

.일수 .자식3{
    position: relative;
}
.일수 .자식3 .cover{
    position: absolute;
    width: 100%; height: 100%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    line-height: 1.3;
}

.일수 .자식3 .cover .title{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 5px 10px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
}

.일수 .자식3 .cover video {
    width: 100%;
}