@charset "UTF-8";
*{margin: 0; padding: 0;}

.전체 {
    position: relative;
    border: 5px solid seagreen;
    background-image: url(https://img.freepik.com/premium-vector/square-grid-paper-seamless-pattern-millimeter-paper-sheet-background_434359-268.jpg?w=2000);
    width: 1400px;
    height: 700px;
    margin: 30px auto 0;
}

.배너 {
    border: 5px solid sandybrown;
    width: 300px;
    margin: 0 auto;
    position: absolute;
    left: 300px;
    bottom: -50px;
}

.배너 img {
    width: 100%;
}